:root {
  --calc-app-width: 12rem;
  --calc-app-bg-color: #c0ffee;
  --calc-font-size: 1.5rem;
  --calc-l-height: 1.2;
  --calc-font-fam: Comfortaa, "Comfortaa Bold", "Droid Sans Regular";
  --calc-font-fam-mono: "Adwaita Mono", monospace;

  --calc-border-style: solid;
  --calc-border-width: 0.15rem;
  --calc-border-color: black;
  --calc-border-rad: 0.5rem;
  --calc-border: var(--calc-border-style) var(--calc-border-width)
    var(--calc-border-color);

  --calc-flex: flex;
  --calc-jc-c: center;
  --calc-ai-c: center;
  --calc-ai-e: flex-end;
  --calc-fd-c: column;

  --calc-g-1: 0.2rem;
  --calc-g-2: calc(var(--calc-g-1) * 2);
  --calc-g-3: calc(var(--calc-g-2) * 2);
}

div.calculator {
  /* The Calc App Styling starts here... */
  display: var(--calc-flex);
  justify-content: var(--calc-jc-c);
  align-items: var(--calc-ai-c);
  flex-direction: var(--calc-fd-c);
  gap: var(--calc-g-3);

  width: var(--calc-app-width);
  background-color: var(--calc-app-bg-color);
  border-style: var(--calc-border-style);
  border-width: var(--calc-border-width);
  border-color: var(--calc-border-color);
  border-radius: var(--calc-border-rad);
  margin: 0.75rem auto;
  padding: 1rem;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);

  font-family: var(--calc-font-fam);
  font-size: var(--calc-font-size);
}
div.calculator * {
  margin: 0;
}
div.calculator .hide {
  display: none;
}
div.calculator button {
  font-weight: bold;
  flex: 1 1 23%;
  font-size: calc(var(--calc-font-size) * (3 / 5));
}
div.calculator button:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
div.calculator button:active {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4);
}
div.calculator > .header {
  /* calc-header */
  display: var(--calc-flex);
  justify-content: var(--calc-jc-c);
  align-items: var(--calc-ai-e);
  flex-direction: var(--calc-fd-c);
  gap: var(--calc-g-1);

  width: 100%;
}
div.calculator > .header .title {
  font-size: calc(var(--calc-font-size) * (3.5 / 7));
}
div.calculator > .header .sub-title {
  font-size: calc(var(--calc-font-size) * (2 / 5));
  color: gray;
}
div.calculator > div.display-container *,
div.calculator > div.keypad * {
  font-family: var(--calc-font-fam-mono);
}


/* START Calculator Display Styles ------------------------------------------ */
.display-container {
  width: 100%;
  display: var(--calc-flex);
  flex-direction: var(--calc-fd-c);
  gap: var(--calc-g-2);
}
/* .display-container > .display {} */
.display-container .display {
  text-align: right !important;
  display: block !important;
  overflow: scroll !important;
  scrollbar-width: none !important;

  padding: 0 var(--calc-g-1);
  border: var(--calc-border);
  border-radius: calc(var(--calc-border-rad) - 0.35rem);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.display-container > .primary.display {
  min-height: calc(var(--calc-font-size) + var(--calc-g-2));
  max-height: calc(var(--calc-font-size) + var(--calc-g-2));
}
.sub-display-container {
  display: grid;
  grid-template-columns: 15% 81%;
  grid-auto-rows: calc(
    calc(var(--calc-font-size) * (4 / 9)) + (2 * var(--calc-g-2) + 5)
  );
  gap: var(--calc-g-2);
}
div.sub-display-container .sub.display {
  font-size: calc(var(--calc-font-size) * (4 / 9));
  opacity: 0.65;
}
/* .sub-display-container .memory.sub.display {} */
.sub-display-container .calculation.sub.display {
  overflow: hidden;
  width: auto;
  display: block;
}
/* .sub-display-container .memory {} */
.sub-display-container .calculation-sub-display-container {
  position: relative;
}
.sub-display-container .calculation:hover {
  cursor: pointer;
}
.sub-display-container .history-list {
  position: absolute;
  top: 1rem;
  right: 0px;
  z-index: 1000;
  background-color: var(--calc-app-bg-color);
  border: solid 1px black;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  min-width: 110%;
  font-size: calc(var(--calc-font-size) * (4 / 9));
}
.sub-display-container .history-list ul {
  list-style: none;
  margin: 0;
  padding: 0 0 .3rem 0;
  border: 0;
  text-align: left;
}
.sub-display-container .history-list ul li {
  padding: 0.4rem 0.3rem;
  border-top: 1px solid black;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sub-display-container .history-list ul li:nth-child(even) {
  background-color: #fff;
}
.sub-display-container .history-list ul li span:nth-last-child(1) {
  text-align: right;
}
.sub-display-container .history-list ul li span:nth-last-child(1):hover {
  text-decoration: underline;
}
.sub-display-container .history-list ul li span:last-child {
  font-weight: bold;
}
/* END Calculator Display Styles -------------------------------------------- */


/* START Keypad Styles ------------------------------------------------------ */
div.calculator div.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--calc-g-1);
  width: 100%;
}
/* END Keypad Styles -------------------------------------------- */
