:root {
  --calc-app-width: 20rem;
  --calc-app-bg-color: #44fecc;
  --calc-cfg-panel-bg: #278d72;
  --calc-font-size: 1.8rem;
  --calc-l-height: 1.2;
  --calc-font-fam: Comfortaa, "Comfortaa Bold", "Droid Sans Regular";
  --calc-font-fam-mono: "Adwaita Mono", monospace;

  --calc-border-style: solid;
  --calc-border-width: 0.15rem;
  --calc-border-color: black;
  --calc-border-rad: 0.5rem;
  --calc-border: var(--calc-border-style) var(--calc-border-width)
    var(--calc-border-color);

  --calc-flex: flex;
  --calc-jc-c: center;
  --calc-ai-c: center;
  --calc-ai-e: flex-end;
  --calc-fd-c: column;

  --calc-g-1: 0.2rem;
  --calc-g-2: calc(var(--calc-g-1) * 2);
  --calc-g-3: calc(var(--calc-g-2) * 2);
}

div.calculator {
  /* The Calc App Styling starts here... */
  width: var(--calc-app-width);
  background-color: var(--calc-app-bg-color);
  border-style: var(--calc-border-style);
  border-width: var(--calc-border-width);
  border-color: var(--calc-border-color);
  border-radius: var(--calc-border-rad);
  margin: 0.75rem auto;
  padding: 0;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
  font-family: var(--calc-font-fam);
  font-size: var(--calc-font-size);
}
div.calculator * {
  margin: 0;
}
div.calculator .hide {
  display: none !important;
}
div.calculator button {
  font-weight: bold;
  flex: 1 1 23%;
  font-size: calc(var(--calc-font-size) * (3 / 5));
}
div.calculator button:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
div.calculator button:active {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4);
}
/* div.calculator div.config-panel button {} */
div.calculator div.config-panel button:focus,
div.calculator div.config-panel button:hover {
  cursor: pointer;
  font-weight: bold;
}

div.calculator div.config-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: calc(var(--calc-font-size) * (4 / 5));
  color: #c0ffee;
  border: none;
  border-radius: calc(var(--calc-border-rad) - var(--calc-g-1));
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--calc-cfg-panel-bg);
  padding: var(--calc-g-2);
}
div.calculator div.config-panel.app-minimised {
  border-radius: calc(var(--calc-border-rad) - var(--calc-g-1));
}
div.calculator div.config-panel .config-menu {
  position: absolute;
  top: calc(var(--calc-font-size) * (4 / 5) + (var(--calc-g-2) * 2));
  left: 0px;
  background-color: var(--calc-cfg-panel-bg);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
  padding: var(--calc-g-2);
  border-bottom-left-radius: var(--calc-g-1);
  border-bottom-right-radius: var(--calc-g-1);
}
div.calculator .rcc.range-component-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: var(--calc-g-1);
  align-items: center;
}
div.calculator div.rcc.range-component-container .cell > * {
  vertical-align: middle;
  font-size: smaller;
}

div.calculator div.app-container {
  display: var(--calc-flex);
  justify-content: var(--calc-jc-c);
  align-items: var(--calc-ai-c);
  flex-direction: var(--calc-fd-c);
  gap: var(--calc-g-3);

  padding: 1rem;
}
div.calculator div.app-container > .header {
  /* calc-header */
  display: var(--calc-flex);
  justify-content: var(--calc-jc-c);
  align-items: var(--calc-ai-e);
  flex-direction: var(--calc-fd-c);
  gap: var(--calc-g-1);

  width: 100%;
  font-weight: bold !important;
}
div.calculator div.app-container > .header .title {
  margin: 0;
  color: #278d72;
  font-size: calc(var(--calc-font-size) * (3.5 / 7));
}
div.calculator div.app-container > .header .sub-title {
  font-size: calc(var(--calc-font-size) * (2 / 5));
  color: #278d72;
}
div.calculator div.app-container > div.display-container *,
div.calculator div.app-container > div.keypad * {
  font-family: var(--calc-font-fam-mono);
}

/* START Calculator Display Styles ------------------------------------------ */
.display-container {
  width: 100%;
  display: var(--calc-flex);
  flex-direction: var(--calc-fd-c);
  gap: var(--calc-g-2);
}
/* .display-container > .display {} */
.display-container .display {
  text-align: right !important;
  display: block !important;
  overflow: scroll !important;
  scrollbar-width: none !important;

  color: black;
  line-height: normal;
  /* padding: calc(var(--calc-g-1) / 2) var(--calc-g-1); */
  border: var(--calc-border);
  border-radius: calc(var(--calc-border-rad) - 0.35rem);
  background-color: #c0ffee;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.display-container > .primary.display {
  --pdfs: calc(var(--calc-font-size) * 1.25);
  font-size: var(--pdfs);
  line-height: calc(var(--pdfs) * 1.2);
  min-height: calc(var(--pdfs) * 1.2);
  max-height: calc(var(--pdfs) * 1.2);
}
.sub-display-container {
  display: grid;
  grid-template-columns: 15% 82.5%;
  /* grid-auto-rows: calc(
    calc(var(--calc-font-size) * (4 / 9)) + (2 * var(--calc-g-2) + 5)
  ); */
  gap: var(--calc-g-2);
}
div.sub-display-container .sub.display {
  font-size: calc(var(--calc-font-size) * (4 / 9));
  opacity: 0.4;
  --sdfs: calc(var(--calc-font-size) * 0.66);
  --scaler: 1.15;
  font-size: var(--sdfs);
  line-height: calc(var(--sdfs) * var(--scaler));
  min-height: calc(var(--sdfs) * var(--scaler));
  max-height: calc(var(--sdfs) * var(--scaler));
}
/* .sub-display-container .memory.sub.display {} */
.sub-display-container .calculation.sub.display {
  overflow: hidden;
  width: auto;
  display: block;
}
/* .sub-display-container .memory {} */
.sub-display-container .calculation-sub-display-container {
  position: relative;
}
.sub-display-container .calculation:hover {
  cursor: pointer;
}
.sub-display-container .history-list {
  position: absolute;
  top: 1rem;
  right: 0px;
  z-index: 1000;
  background-color: var(--calc-app-bg-color);
  border: solid 1px black;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  min-width: 100%;
  font-size: calc(var(--calc-font-size) * (4 / 9));
}
.sub-display-container .history-list ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0.3rem 0;
  border: 0;
  text-align: left;
}
.sub-display-container .history-list ul li {
  padding: 0.4rem 0.3rem;
  border-top: 1px solid black;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sub-display-container .history-list ul li:nth-child(even) {
  background-color: #fff;
}
.sub-display-container .history-list ul li span:nth-last-child(1) {
  text-align: right;
}
.sub-display-container .history-list ul li span:nth-last-child(1):hover {
  text-decoration: underline;
}
.sub-display-container .history-list ul li span:last-child {
  font-weight: bold;
}
.sub-display-container .history-list ul li span:first-child {
  white-space: nowrap;
}
/* END Calculator Display Styles -------------------------------------------- */

/* START Keypad Styles ------------------------------------------------------ */
div.calculator div.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--calc-g-1);
  width: 100%;
}
/* END Keypad Styles -------------------------------------------- */
