div.todo {
  display: block;
  min-width: 13rem;
  margin: 0.5rem auto;
  border: solid 0.25rem #fff;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  text-align: left;
}
div.todo .show {
  visibility: visible;
  opacity: 1;
}
div.todo .hide {
  visibility: collapse;
  opacity: 0;
}

div.todo > .todo-container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}
div.todo > .todo-container > .todo-title {
  text-align: left;
  font-size: 1.75rem;
  line-height: 1.5;
  overflow: scroll !important;
  scrollbar-width: none !important;
  white-space: nowrap;
  margin-right: 0.5rem;
}
div.todo > .todo-container > .todo-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

div.todo > .todo-container > p.todo-description {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}

/* ::view-transition-old(*) {
  animation: 300ms ease-out fade-out;
}
::view-transition-new(*) {
  animation: 300ms ease-in fade-in;
} */

::view-transition-old(.meh) {
  animation: 200ms ease-out fade-out;
}
::view-transition-new(.meh) {
  animation: 200ms ease-in fade-in;
  animation-delay: 200ms;
}

/* New keyframes to support our animations above. */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

::view-transition-old(.slide-in) {
  animation-name: slideOutRight;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(.slide-in) {
  animation-name: slideInRight;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

::view-transition-old(.slide-out) {
  animation-name: slideOutLeft;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

::view-transition-new(.slide-out) {
  animation-name: slideInLeft;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
