@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

/* ::view-transition-old(*) {
  animation: 300ms ease-out fade-out;
}
::view-transition-new(*) {
  animation: 300ms ease-in fade-in;
} */

::view-transition-old(.slow-fade) {
  animation-delay: 0ms;
  animation-duration: 333ms;
}
::view-transition-new(.slow-fade) {
  animation-delay: 100ms;
  animation-duration: 333ms;
}

main {
  padding: 2rem 0;
}

.App {
  text-align: center;
}

.App .hide {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header.App-header h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
header.App-header h2 .header-logo {
  height: 10vmin;
}
header.App-header h2 .header-text {
  height: auto;
}

.App .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  padding: 1.5rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
